<!--INSERT JSON OBJECT-->
<div ng-show="drop.isSelectedPill(1)">
  <div class="form-group">
    <label for="json_obj">Insert JSON Object:</label>
    <textarea class="form-control" rows="5" id="json_obj"></textarea>
  </div>

  <!--buttons for insert JSON Object-->
  <div class = "row" style="margin-top: 25px">
    <div class = "col-md-6">
      <button type="button" class="btn btn-primary" ng-show="drop.isSelected(1)" ng-click="drop.functionClick(false, false, 1)">Create</button>
    </div>
  </div>
</div>

<!--"OR INSERT MAP:"-->
<div ng-show="drop.isSelectedPill(2)">
  <div class = "row" style="margin-top: 25px">
    <div class = "col-md-6">
      <p><b>Insert Map</b></p>
    </div>
  </div>

  <!--"KEY: VALUE:"-->
  <div class = "row">
    <div class = "col-lg-4 col-md-6 col-sm-6 col-xs-6">
      <p><b>Key:</b></p>
    </div>
    <div class = "col-lg-4 col-md-6 col-sm-6 col-xs-6">
      <p><b>Value:</b></p>
    </div>
  </div>

  <!--repeating forms-->
  <div class="key-value-pairs" ng-repeat="kvPair in drop.kvlist track by $index">
    <key-value></key-value>
  </div>

  <!--buttons for + and Create-->
  <div class="row">
    <div class = "col-md-6">
      <button type="button" class="btn btn-primary" ng-click="drop.addRow()">+</button>
      <button type="button" class="btn btn-primary" ng-click="drop.deleteRow()">-</button>
      <button type="button" class="btn btn-primary" ng-show="drop.isSelected(1)" ng-click="drop.functionClick(false, true, 1)">Create</button>
    </div>
  </div>
</div>

<div ng-show="drop.isSelectedPill(3) && drop.isSelected(1)">
  <div class="container">
    <h3>Example Code for Creating an Object</h3>
    <pre>
function createObject(){
  var obj = {"name":"example_1", "id":"1", "sequence":"cacagatgacgt"};
  $('#description_field').text("Creating Object: "+JSON.stringify(obj));
  Clotho.create(obj).then(function(result){
    console.log(result);
    if(result===undefined){
      $('#response_field').text("Object with that id already exists");
    } else {
      $('#response_field').text("Created Object with id: "+result);
    }
  });
}
    </pre>
  </div>
</div>

<div ng-show="drop.isSelectedPill(3) && drop.isSelected(2)">
  <div class="container">
    <h3>Example Code for Setting an Object</h3>
    <pre>
function setObject(){
  var obj = {"name":"example_1", "id":"1","sequence":"cat"};
  $('#description_field').text("Changing Object's sequence to: "+JSON.stringify(obj));
  Clotho.set(obj).then(function(result){
			console.log(result);
      $('#response_field').text("Object changed");
    });
}
    </pre>
  </div>
</div>

<div ng-show="drop.isSelectedPill(3) && drop.isSelected(3)">
  <div class="container">
    <h3>Example Code for Querying an Object</h3>
    <pre>
function queryObject(){
  var obj = {"name":"example_1"};
  $('#description_field').text("Querying Object with details: "+JSON.stringify(obj));
  Clotho.query(obj).then(function(result){
			console.log(result);
      $('#response_field').text("Found Object: " + JSON.stringify(result));
    });
}
    </pre>
  </div>
</div>

<div ng-show="drop.isSelectedPill(3) && drop.isSelected(4)">
  <div class="container">
    <h3>Example Code for Destroying an Object</h3>
    <pre>
function destroyObject(){
  var id = "1";
  $('#description_field').text("Destroying Object with id: "+id);
  Clotho.destroy(id).then(function(result){
		console.log(result);
    $('#response_field').text("Destroyed Object with id: "+result);
  });
}
    </pre>
  </div>
</div>

<div ng-show="drop.isSelectedPill(3) && drop.isSelected(5)">
  <div class="container">
    <h3>Example Code for Getting an Object</h3>
    <pre>
function getObject(){
  var id = "1";
  $('#description_field').text("Getting Object with id: "+id);
  Clotho.get(id).then(function(result){
			console.log(result);
      if(result===undefined){
        $('#response_field').text("Object doesn't exist");
      }
      else{
        $('#response_field').text("Found Object: "+JSON.stringify(result));
      }
    });
}
    </pre>
  </div>
</div>
