<!--INSERT JSON OBJECT-->
<div ng-show="drop.isSelectedPill(1)">
  <div class="form-group">
    <label for="json_obj">Insert JSON Object:</label>
    <textarea class="form-control" rows="5" id="json_obj"></textarea>
  </div>

  <!--buttons for insert JSON Object-->
  <div class = "row" style="margin-top: 25px">
    <div class = "col-md-6">
      <button type="button" class="btn btn-primary" ng-show="drop.isSelected(1)" ng-click="drop.functionClick(false, false, 1)">Create</button>
    </div>
  </div>
</div>

<!--"OR INSERT MAP:"-->
<div ng-show="drop.isSelectedPill(2)">
  <div class = "row" style="margin-top: 25px">
    <div class = "col-md-6">
      <p><b>Insert Map</b></p>
    </div>
  </div>

  <!--"KEY: VALUE:"-->
  <div class = "row">
    <div class = "col-lg-4 col-md-6 col-sm-6 col-xs-6">
      <p><b>Key:</b></p>
    </div>
    <div class = "col-lg-4 col-md-6 col-sm-6 col-xs-6">
      <p><b>Value:</b></p>
    </div>
  </div>

  <!--repeating forms-->
  <div class="key-value-pairs" ng-repeat="kvPair in drop.kvlist track by $index">
    <key-value></key-value>
  </div>

  <!--buttons for + and Create-->
  <div class="row">
    <div class = "col-md-6">
      <button type="button" class="btn btn-primary" ng-click="drop.addRow()">+</button>
      <button type="button" class="btn btn-primary" ng-click="drop.deleteRow()">-</button>
      <button type="button" class="btn btn-primary" ng-show="drop.isSelected(1)" ng-click="drop.functionClick(false, true, 1)">Create</button>
    </div>
  </div>
</div>

<div ng-show="drop.isSelectedPill(3)">
  <div class="row">
    <h3>Example Code for Creating an Object</h3>
    <pre>
function createObject(){
  var obj = {"name":"example_1", "id":"1", "sequence":"cacagatgacgt"};
  $('#description_field').text("Creating Object: "+JSON.stringify(obj));
  Clotho.create(obj).then(function(result){
    console.log(result);
    if(result===undefined){
      $('#response_field').text("Object with that id already exists");
    } else {
      $('#response_field').text("Created Object with id: "+result);
    }
  });
}
    </pre>
  </div>
</div>
