<!--Necessitas, Roman equivalent of Ananke-->

<!DOCTYPE html>
<html lang="en" ng-app="appPage">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Necessitas: Functions</title>
    <link rel="icon" href="img/NonaIcon.png">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  </head>
  <body style="margin-top: 25px; margin-bottom: 25px" ng-controller="functionController as functionCtrl">

    <!-- menu bar -->
    <menu-bar></menu-bar>

    <div class="container">
      <!-- jumbotron -->
      <div style="margin-top: 10px; text-align: center;">
        <h1>Clotho3.0 Test Case</h1> <h3>Select a function below</h3>
      </div>
      <!--where any error message will go-->
      <div class="row">
        <div class="col-md-12">
          <div style="margin-bottom: 25px">
            <p id = "error_field"></p>
          </div>
        </div>
      </div>
      <!-- selection -->
      <section ng-controller="DropdownController as drop">

        <!--DROPDOWN-->
        <div class="dropdown" style="margin-bottom: 25px">
          <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">{{drop.buttonText}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a href="#" ng-click="drop.selectTab(1)">create</a></li>
            <li role="presentation"><a href="#" ng-click="drop.selectTab(2)">set</a></li>
            <li role="presentation"><a href="#" ng-click="drop.selectTab(3)">query</a></li>
            <li role="presentation"><a href="#" ng-click="drop.selectTab(4)">destroy</a></li>
            <li role="presentation"><a href="#" ng-click="drop.selectTab(5)">get</a></li>
          </ul>
        </div>

        <!--PILLS-->
        <ul class="nav nav-pills">
          <li ng-class="{active: drop.isSelectedPill(1)}"><a href ng-click="drop.selectPill(1)">JSON Object</a></li>
          <li ng-class="{active: drop.isSelectedPill(2)}"><a href ng-click="drop.selectPill(2)">Map</a></li>
        </ul>

        <div class = "row" ng-show="drop.isSelected(2)" style="margin-top: 25px">
          <div class = "col-md-6">
            <p><b>First Query an Object</b></p>
          </div>
        </div>

        <!--div for create, set query -->
        <div ng-show="(drop.isSelected(1) || drop.isSelected(2) || drop.isSelected(3))">
          <!--"INSERT JSON OBJECT:"-->
          <div class="form-group">
            <label for="json_obj">Insert JSON Object:</label>
            <textarea class="form-control" rows="5" id="json_obj"></textarea>
          </div>

          <!--buttons for insert JSON Object-->
          <div class = "row" style="margin-top: 25px">
            <div class = "col-md-6">
              <button type="button" class="btn btn-primary" ng-show="drop.isSelected(3)||drop.isSelected(2)" ng-click="drop.functionClick(true, false, 3)">Query One</button>
              <button type="button" class="btn btn-primary" ng-show="drop.isSelected(3)||drop.isSelected(2)" ng-click="drop.functionClick(false, false, 3)">Query All</button>
              <button type="button" class="btn btn-primary" ng-show="drop.isSelected(1)" ng-click="drop.functionClick(false, false, 1)">Create</button>
            </div>
          </div>

          <!--"OR INSERT MAP:"-->
          <div class = "row" style="margin-top: 25px">
            <div class = "col-md-6">
              <p><b>Or Insert Map</b></p>
            </div>
          </div>

          <!--"KEY: VALUE:"-->
          <div class = "row">
            <div class = "col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <p><b>Key:</b></p>
            </div>
            <div class = "col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <p><b>Value:</b></p>
            </div>
          </div>

          <!--repeating forms-->
          <div class="key-value-pairs" ng-repeat="kvPair in drop.kvlist track by $index">
            <key-value></key-value>
          </div>

          <!--buttons for + and Create-->
          <div class="row">
            <div class = "col-md-6">
              <button type="button" class="btn btn-primary" ng-click="drop.addRow()">+</button>
              <button type="button" class="btn btn-primary" ng-show="drop.isSelected(1)" ng-click="drop.functionClick(false, true, 1)">Create</button>
            </div>
          </div>
        </div>



        <!--button for create-->



        <!--buttons for query-->
        <div ng-show = "drop.isSelected(3)||drop.isSelected(2)">
          <div class = "row" style="margin-top: 25px">
            <div class = "col-md-6">
              <button type="button" class="btn btn-primary" ng-click="drop.functionClick(true, true, 3)">Query One</button>
              <button type="button" class="btn btn-primary" ng-click="drop.functionClick(false, true, 3)">Query All</button>
            </div>
          </div>
        </div>

        <!--section for editting in set-->
        <div ng-show = "drop.isSelected(2)">
          <div class="form-group" style="margin-top: 25px">
            <label for="edit_json_object">Edit Results Here:</label>
            <textarea class="form-control" rows="5" id="edit_json_object"></textarea>
          </div>
          <button type="button" class="btn btn-primary" ng-click="drop.functionClick(false, false, 2)">Edit</button>
        </div>

        <!-- div for destroy and get-->
        <div ng-show="drop.isSelected(4) || drop.isSelected(5)">
          <div class="form-group">
            <label for="id_number">Insert ID Number:</label>
            <input type="text" class="form-control" id="id_number">
          </div>
          <button type="button" class="btn btn-primary" ng-show = "drop.isSelected(4)" ng-click="drop.functionClick(false, false, 4)">Enter</button>
          <button type="button" class="btn btn-primary" ng-show = "drop.isSelected(5)" ng-click="drop.functionClick(false, false, 5)">Enter</button>
        </div>

      </section>
    </div>

    <script src="js/clotho3API.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/q.js/1.0.0/q.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
