<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clotho Use Case</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class = "container">
      <div class = "row">
        <div class = "col-md-8"> <img src = "img/NonaFoundation.png" width = "200px" height = "auto"></div>
      </div>
      <div class ="jumbotron">
        <h1> Clotho Use Case </h1>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Choose a Function
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="tab = 1">create</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="tab = 2">set</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="tab = 3">get</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="tab = 4">destroy</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="tab = 5">query</a></li>
          </ul>
      </div>

      <!--div for create, set, query -->
      <div class="form-group">
        <label for="json_object">Insert JSON Object:</label>
        <textarea class="form-control" rows="5" id="json_object"></textarea>
      </div>
      <div class="form-group">
        <label for="map_key"><p>Or Insert Map:</p><p>Key:</p></label>
        <input type="text" class="form-control" id="map_key">
      </div>
      <div class="form-group">
        <label for="map_value">Value:</label>
        <input type="text" class="form-control" id="map_value">
      </div>

      <!-- div for destroy and get-->
      <div class="form-group">
        <label for="id_number">Insert ID Number:</label>
        <input type="text" class="form-control" id="id_number">
      </div>

    </div>
    <script src="js/clotho3API.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/q.js/0.9.6/q.min.js"></script>
  </body>
</html>
