<div class = "row">
  <div class = "col-lg-4 col-md-6 col-sm-6 col-xs-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter key" ng-model="functionCtrl.kvlist[$index].key" required />
    </div>
  </div>

  <div class = "col-lg-4 col-md-6 col-sm-6 col-xs-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter value" ng-model="functionCtrl.kvObj[functionCtrl.kvlist[$index].key]" required />
    </div>
  </div>
</div>
